@import "normalise.css";

body{
  width: 960px;
  margin: 0 auto;

  #navbg {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    background: #000000;

    width: 4000px;
    height: 100px;
  }


  header{



    h1 {
      span {
        display: none;
      }

      a {
        float: left;
        background: url("../images/arrow-media-logo.png") no-repeat center center ;
        display: block;
        width: 171px;
        height: 38px;

        }


      }
    nav{

      ul{
        li{
          float: left;
          display: block;
          a{
            color: #ffffff;
          }

        }
      }
    }
  }
  #page{

  }
  footer{
    nav{
      ul{
        li{

        }
      }
    }
  }
}