@import "normalise.css";
/*set the width for the page*/
#page {
  position: relative;
  width: 100%;
  left: auto;
  right: auto;
  margin-top: 0px;
}
/*remove the home button in the tablet and mobile view*/
.noshow {
  display: none;
}
body {
  width: 100%;
  margin: 0 auto;
  /*navigation background */
}
body #navbg {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  background: #000000;
  width: 100%;
  height: 100px;
}
body header {
  height: 236px;
  margin-top: 0;
}
body header h1 {
  width: 200px;
  margin: 0 auto;
  /*put the logo in with css*/
}
body header h1 span {
  display: none;
}
body header h1 a {
  background: url("../images/arrow-media-logo.png") no-repeat center center;
  display: block;
  width: 171px;
  height: 38px;
  margin: 0 auto;
}
body header nav {
  width: auto;
  margin-bottom: 5px;
  height: 100px;
}
body header nav ul li {
  background: #000000;
  outline: #ffffff 1px solid;
  width: 50%;
  float: left;
  text-align: center;
  font-size: 16px;
}
body header nav ul li a {
  color: #ffffff;
  display: block;
  padding: 17px 0;
  text-decoration: none;
}
body #content {
  padding: 0 5px;
  /*background for the transparent imges*/
  /*i'm using a column system*/
  /*for the log images at the bottom of the page*/
  /*showcase gallery styling*/
  /*contact form styling*/
  /*submit button*/
}
body #content .cycle-slideshow {
  display: none;
}
body #content img {
  width: 100%;
}
body #content .image-blu {
  background: #306d99;
}
body #content .image-blu img {
  width: 40%;
  min-width: 200px;
}
body #content .col-3 {
  display: block;
}
body #content .col-3 ul {
  width: 100%;
  margin-left: 10%;
}
body #content .col-3 h4 {
  width: 100%;
}
body #content .col-3 img.fav {
  width: 95px;
  display: block;
  margin: 0 auto;
}
body #content section.col-4foot {
  width: 100%;
  padding: 0 5px;
  float: left;
}
body #content section.col-4foot img {
  width: 50%;
  display: block;
  float: left;
}
body #content section.col-4 {
  width: 100%;
  padding: 0 10px;
  float: left;
}
body #content section.col-4 img {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}
body #content section.col-6foot {
  width: 100%;
  padding: 0 5px;
  float: left;
}
body #content section.col-6foot img {
  width: 15%;
  display: block;
  float: left;
}
body #content #serviceimg {
  width: 300px;
  margin: 20px auto;
}
body #content .show-col {
  width: 50%;
  margin: 0 auto;
}
body #content #showimg {
  width: 400px;
  margin: 0 auto;
}
body #content .gallery {
  width: 500px;
  height: 500px;
  margin: 5px 10px;
  border: #000000 solid 2px;
}
body #content .gallery .thumbnail {
  display: block;
  float: left;
  width: 33%;
  margin: 40px 0px;
}
body #content .gallery .thumbnail img {
  width: 100px;
  margin: 0 0 0 20px;
}
body #content .gallery .hidden.preview {
  position: absolute;
  top: 700px;
  left: 40px;
  float: right;
  width: 450px;
}
body #content input,
body #content textarea {
  padding: 10px;
  border: 1px solid #E5E5E5;
  width: 200px;
  color: #999999;
}
body #content textarea {
  width: 400px;
  height: 150px;
  max-width: 400px;
  line-height: 18px;
}
body #content .form label {
  margin-left: 10px;
  color: #999999;
}
body #content .submit input {
  width: 100px;
  height: 40px;
  background-color: #306d99;
  color: #FFF;
}
body footer {
  display: block;
  height: auto;
  margin-top: 0;
  margin-bottom: 5px;
}
body footer nav {
  width: auto;
  margin-bottom: 5px;
  height: 56px;
}
body footer nav ul li {
  background: #000000;
  outline: #ffffff 1px solid;
  width: 50%;
  float: left;
  text-align: center;
  font-size: 16px;
}
body footer nav ul li a {
  color: #ffffff;
  display: block;
  padding: 20px 0;
  text-decoration: none;
}
/*for tablet users*/
@media (min-width: 700px) {
  #page {
    width: 750px;
    font-size: 16px;
    margin: 0 auto;
  }
  body header {
    height: 100px;
  }
  body header h1 {
    float: left;
    margin: 0px;
    width: 150px;
  }
  body header h1 a {
    margin: 0;
  }
  body header nav {
    width: 75%;
    float: right;
    margin: 0;
    height: 100px;
  }
  body header nav ul li {
    width: 33.33%;
  }
  body #content {
    /*individual list on the service page */
    /*gallery styling */
  }
  body #content .cycle-slideshow {
    display: block;
  }
  body #content section.col-4foot {
    width: 750px;
  }
  body #content section.col-4foot img {
    width: 185px;
  }
  body #content section.col-4 {
    width: 700px;
    padding: 0 25px;
  }
  body #content section.col-4 img {
    width: 238px;
    margin: 0 231px;
  }
  body #content section.col-6foot {
    width: 750px;
    margin: 0 auto;
    padding: 0 75px;
  }
  body #content section.col-6foot img {
    width: 100px;
  }
  body #content .show-col {
    width: 355px;
    padding: 0 5px;
    float: left;
  }
  body #content #servicelist {
    float: left;
  }
  body #content #servicelist ul {
    margin-left: 0;
  }
  body #content .gallery {
    width: 100%;
    height: 500px;
    margin: 10px 30px;
    border: #000000 solid 2px;
  }
  body #content .gallery .thumbnail {
    display: block;
    width: 750px;
    float: inherit;
  }
  body #content .gallery .thumbnail img {
    width: 100px;
    margin: 20px 30px;
  }
  body #content .gallery .hidden.preview {
    position: absolute;
    top: 480px;
    left: 220px;
    float: right;
    width: 500px;
  }
  body footer nav {
    margin: 0 auto;
    width: 750px;
  }
}
/*for desktop users*/
@media (min-width: 960px) {
  #page {
    width: 960px;
  }
  .noshow {
    display: block;
  }
  body header nav ul {
    float: right;
    padding: 0 5px;
  }
  body header nav ul li {
    width: 100px;
  }
  body #content .col-2 {
    width: 460px;
    padding: 0 5px;
    float: left;
  }
  body #content .col-3 {
    width: 290px;
    padding: 0 10px;
    float: left;
  }
  body #content .col-3 ul {
    margin: 0;
    padding: 0 10px;
  }
  body #content .col-3 h4 {
    font-weight: 600;
  }
  body #content .col-3 img {
    margin: 0 auto;
  }
  body #content section.col-4foot {
    width: 960px;
  }
  body #content section.col-4foot img {
    width: 25%;
  }
  body #content section.col-4 {
    width: 200px;
    padding: 0 5px;
  }
  body #content section.col-4 img {
    width: 100%;
    margin: 0 auto;
  }
  body #content section {
    width: 100%;
  }
  body #content section.col-6foot {
    width: 870px;
    margin: 0 auto;
    padding: 0 60px;
  }
  body #content section.col-6foot img {
    width: 120px;
  }
  body #content .show-col {
    width: 460px;
  }
  body #content .gallery {
    width: 100%;
    height: 500px;
    margin: 10px 30px;
    border: #000000 solid 2px;
  }
  body #content .gallery .thumbnail {
    display: block;
    width: 960px;
    margin: 0px 0px;
  }
  body #content .gallery .thumbnail img {
    width: 100px;
    margin: 40px 30px;
  }
  body #content .gallery .hidden.preview {
    position: absolute;
    top: 450px;
    left: 320px;
    float: right;
    width: 600px;
  }
  body footer {
    float: left;
    display: block;
    background-color: #000000;
  }
  body footer nav {
    margin: 0 auto;
    width: 960px;
    height: 35px;
  }
  body footer nav ul {
    width: 320px;
    float: right;
  }
  body footer nav ul li {
    width: 160px;
  }
  body footer nav ul li a {
    padding: 10px 0;
  }
}
